body{
  background-image: url(../img/p1.webp);
  background-position: center;
  background-size: cover;
  font-family:cursive;
}
h1{
  color: blue;
  text-align: center;
}
.p{
  text-align: center;
}
